/*const apiKey = "66f60778c8c27a88da3fd31a2d55d2af";
const name = 'lagos';
const weatherButton = document.getElementById('submitBtn');

function createEntry(data){
  let tr = document.createElement('tr');
  tr.innerHTML = `<td>${name}</td>`;
  document.getElementById('weatherDisplay').appendChild(tr);
}
 url:'http://api.openweathermap.org/data/2.5/weather?q=' + cityId + "&unit=metric" + "&APPID=66f60778c8c27a88da3fd31a2d55d2af",
function fetchSubscribers() {
  fetch(`https://api.openweathermap.org/data/2.5/weather?q=${name}&appid=${apiKey}`, {
      headers: {
          'Content-type':'application/json'
      },
      method:'GET'
  })
      .then(res => res.json())
      .then(res =>  {
          if(res.status === "success"){
            console.log(data);
              res.data.forEach(createEntry);
          } else{
              alert("Check the details you entered and try again.");
          }
      })
      .catch(err => console.log('Error message:', err));
}

weatherButton.addEventListener('click', fetchSubscribers);


<?php
/*
Plugin Name: WeatherCheck
Description: Custom search bar
Author: Mamus Eferha
Version: 1.0





function weather_form(){
  ?>  
    <div class "weather-form"> 
      <input type="text" id="city" placeholder="Type a city name">
      <button type="button" id="submitBtn">Search</button>
      <span id="error"></span>
    </div>
    <table id="weatherDisplay">
    <tr>
     <td>Name</td>  
    </tr>
    </table>
    <div id="weather_output"></div>
  <?php

print_r('<p>test</p>') ;
	wp_die();
}


function wpb_weather_search(){
  ob_start();
  weather_form();
  $output = ob_get_contents();
  ob_end_clean();
  return $output;
}
add_shortcode('weathersearch', 'wpb_weather_search');

function ms_add_scripts(){
  //CSS
  wp_enqueue_style('ms-main-style', plugins_url(). '/weathercheck/css/style.css');
  //JS
  wp_enqueue_script('ms-main-script', plugins_url().'/weathercheck/js/main.js', array('jquery'));
  wp_localize_script( 'ms-main-script', 'ajax_object',
  array( 'ajax_url' => admin_url( 'admin-ajax.php' )));  

}

add_action('wp_enqueue_scripts', 'ms_add_scripts');
add_action( 'wp_ajax_weather_form', 'weather_form' );
add_action( 'wp_ajax_nopriv_weather_form', 'weather_form' );
$request = wp_remote_get('http://api.openweathermap.org/data/2.5/weather?', array(
    'q' => 'cityId',
    'appid' => '66f60778c8c27a88da3fd31a2d55d2af'
  ));
 try{
   $json = json_decode($request['body']);
 } catch (Exception $ex) {
    $json = null;
 }
 return $json;
  wp_die();*/
